body {
	color:#000;
	background-color:white;
	font:15px Georgia, "Lucida Grande", Arial, sans-serif; 
	letter-spacing:0.01em;
	margin:15px;
}
#controlPanel,#resultPanel{
	width:700px;
	margin:20px auto;
	padding:25px;
	border:3px solid gray;
	-moz-border-radius:10px;
	background:#f8f8f8;
}
#errorArea{
	width:400px;
	margin:20px auto;
	padding:25px;
	border:3px solid gray;
	-moz-border-radius:10px;
	background:red;
}
#normalMessageArea{
	width:400px;
	margin:20px auto;
	padding:25px;
	border:3px solid gray;
	-moz-border-radius:10px;
	background:yellow;
}
#progressBar { padding-top: 5px; }
#totalProgressBarBox { 
   	width: 350px; 
   	height: 20px; 
   	border: 1px inset; 
   	background: #eee;
}
#totalProgressBarBoxContent { 
   	width: 0; 
   	height: 20px; 
   	border-right: 1px solid #444; 
   	background: #9ACB34; 
}